
.container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    min-height: 100vh; 
   
}

.nav-container{
    display: flex;
}

.navbar {
    height: auto !important;  
    display: flex;
    align-items: center;  
    justify-content: space-between; 
    padding: 10px 20px;
    
}
#navbarNav {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 20px; 
    margin-left: auto; 
}
.navbar-brand img {
    height: 70px;
    width: auto;
    
    
}
.navbar-brand{
    display: flex;  
    align-items: center; 
    gap: 0;
}
.navbar-brand h1{
    font-family: Brush Script MT,cursive;
    color:blue;
    font-size: 35px;
    text-decoration: none;
    white-space: nowrap;
    border: none;
}

.navbar-nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style:   none ;
}
.navbar-nav .nav-link:hover {
    text-decoration: underline; 
    text-decoration-color: blue;
}
.navbar-nav .nav-link::after {
    display: none;
}


.navbar-nav .nav-link {
    font-size: 20px;
    font-weight: bold;
    color: black !important;
    text-decoration: none; /* Ensures no underline by default */
    margin-left: 10px;
    margin-right: 50px;
}


 


.job-card {
    width: 300%;
    max-width: 1000px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 30px;
    background-color: azure;
}

.job-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.job-img {
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
    align-items: center;
    justify-content: center;
    border: 10px;
    margin-left: 20px;
}


.job-card .card-body {
    padding: 15px;
    
}
.job-card .card-title {
    font-size: 1.5rem;
    font-weight: bolder;
}

.job-card .card-text {
    font-size: 20px;
    color: #444;
}
.card-subtitle{
    font-size: 20px;
}
.btn btn-success{
    font-size:20px;
    font-weight: bold;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.search-form .form-control {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 200px; /* Adjust the width of the input fields */
}

.search-form button {
    padding: 8px 15px;
    font-size: 14px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #218838 !important; /* Hover effect */
}



@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%; 
    }
    
    .job-img {
        height: 150px;
    }

    .job-card .card-title {
        font-size: 1.1rem;
    }

    .job-card .card-text {
        font-size: 0.9rem;
    }
}