body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #343a40;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    width: 100%;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}
